<div class="privacy-policy-container" id="privacyPolicyContainer">
    <h1 class="title">Privacy Policy</h1>
    <div class="text-block">
        <p>This privacy policy concerns the processing of personal data by agentestudio.com (“Public Website”).</p>
    </div>
    <div class="text-block">
        <p class="bold">Our contact information is:</p>
        <p>Bangalore, S.G.Palya, 4th Cross, Kanaka Residency, 205</p>
        <p>Bangalore, 560029</p>
        <p>India</p>
        <p>Tel: +91 7993265965</p>
        <p>Email:&nbsp;<a class="email" href="mailto:derin@urbaneui.tech">privacy@agentestudio.com</a></p>
    </div>
    <div class="text-block">
        <p>On our Public Website, we do not collect personal data, 
            unless you provide your personal data through a contact form, 
            a live chat,  subscribe to the blog newsletter, or download our resources. 
            In those cases, we only collect general contact information, such as your name, email address and/or phone number.
        </p>
        <p>Our Public Website uses cookies. In some cases, the use of cookies is considered 
            equivalent to the processing of personal data. Personal data collected by the cookies 
            on our website is mainly used for analytical purposes.
        </p>
        <br>
        <p>Personal data collected on the Public Website is only used for the purposes for which it was provided. 
            The following is a complete list of our Public Website’s purposes of data collection:
        </p>
        <br>
        <ol class="with-titled-points">
            <li>Contact Form
                <p>If you fill out our contact form, we will use the provided data to contact
                     you to answer your question.
                    </p>
            </li>
            <li>Live chat
                <p>If you contact us via a live chat, we will only use the provided data to contact 
                you to answer your question.
                </p>
            </li>
            <li>Newsletter Subscription
                <p>If you subscribe to our newsletter, we will only use the collected email address 
                    in order to send you the newsletter until you unsubscribe from this service.
                </p>
            </li>
            <li>Resource Consumption
                <p>If you consume one of our most recent e-books or icon sets, we use the provided 
                    email address if and only if we believe there is a potential business opportunity, 
                    in which case our sales team might get in contact.
                </p>
            </li>
            <li>Job Application
                <p>If you apply for a job at Agente, we will only use your contact details provided 
                    for recruitment proposes.
                </p>
            </li>
        </ol>
    </div>
    <div class="text-block">
        <p>We will retain collected personal data for as long as is necessary to provide 
            you with the requested service unless a longer retention period is required by law.
        </p>
        <br>
        <p>We take adequate measures to protect your data from being stolen, lost, or used in 
            any way that is not in line with the purposes for which the data was collected.
        </p>
        <br>
        <p>We do not sell your personal data to third parties.</p>
        <br>
        <p>We will not give your personal data to third parties, unless we are obligated by 
            law, for example in case of a lawful request by law enforcement authorities
        </p>
        <br>
        <p>We may use third parties to process personal data for certain services. If 
            you receive emails from us, we may use certain analytics tools to capture 
            data such as when you open our email or click on any links or banners our 
            email contains. We ensure that all third parties provide an adequate level 
            of protection for your personal data. We only share information with them 
            that is required for the services offered.
        </p>
        <br>
        <p>We may occasionally send you promotional communications about newsletters, 
            events, webinars, content resources, offers or provide you with other news 
            or information about us. Except for cases where we are required to do so by 
            law (e.g. notifying you of a data breach), you have the opportunity to unsubscribe 
            from receiving these messages by using the unsubscribe link within each email, or 
            emailing us at&nbsp;
            <a class="email" href="mailto:privacy@agentestudio.com">privacy@agentestudio.com</a>&nbsp;
            to have your contact information removed from our promotional email list or contact database.
        </p>
        <br>
        <p>We use the information held about you in the following ways:</p>
        <br>
        <ol class="with-titled-points">
            <li><p>To ensure that content from our website is presented in the most effective way for 
                you and your device.
            </p></li>
            <li><p>To provide you with information or services that you have requested from us or which 
                we feel may interest you, if you have given us consent to get in contact with you.
            </p></li>
            <li><p>To consider any job applicants.</p></li>
            <li><p>To notify you of any changes to our service.</p></li>
        </ol>
    </div>
    <div class="text-block">
        <p>Your data may be transferred to third-party services including 
            Google Analytics, Pipedrive, and MailChimp, all of which are compliant 
            with GDPR and other regulations. Their privacy policies can be found here:
        </p>
        <br>
        <div class="service-privacy-policy">
            <span class="service-title">Google Analytics:&nbsp;</span>
            <a class="service-url" href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>
        </div>
        <br>
        <div class="service-privacy-policy">
            <span class="service-title">Pipedrive:&nbsp;</span>
            <a class="service-url" href="https://www.pipedrive.com/privacy">https://www.pipedrive.com/privacy</a>
        </div>
        <br>
        <div class="service-privacy-policy">
            <span class="service-title">MailChimp:&nbsp;</span>
            <a class="service-url" href="https://mailchimp.com/legal/privacy">https://mailchimp.com/legal/privacy</a>
        </div>
    </div>
    <div class="text-block">
        <p>You have the right to correct, update, amend, or completely remove your 
        personal data from our database by sending an email to &nbsp;
        <a class="email" href="mailto:privacy@agentestudio.com">privacy@agentestudio.com</a>. 
        In order to verify your identity, we ask that you send a copy of your ID attached to your 
        request. Be sure to blacken out your photograph and personal identification number or social 
        security number. Following your access request, you can request rectification or removal.
    </p>
    <br>
        <p>If you wish to raise a complaint about how we have handled your personal data, you can contact us at&nbsp;
            <a class="email" href="mailto:privacy@agentestudio.com">privacy@agentestudio.com</a>&nbsp;and we will 
            investigate the matter.</p>
        <p>This privacy statement was last updated in June 2019. When we change the policy on how 
            collected data on this website is treated, we will announce this through alteration 
            of our privacy statement.
        </p>
    </div>
</div>