<div class="blog-hero b-purple--light">
  <div class="hero-content">
    <h2 class="post-title">Blog Post 1</h2>
    <div class="post-excerpt">
      <p>Get a different perspective on beginnings and making plans right from the start of a new year.</p>
    </div>
  </div>
  <div class="hero-banner">
    <img src="https://cdn.pixabay.com/photo/2019/06/19/07/13/email-4284157_960_720.png" alt="banner" width="1200" height="700">
  </div>
  <div class="post-footer">
    <div class="author">
      <div class="avatar"></div>
    </div>
    <div class="cta"><button class="btn-blog">Read More</button></div>
  </div>
</div>
