<nav id="navigation" class="nav">
    <div id="scroll-wrapper">
        <div class="nav-top">
            <a id="menu-icon">
                    <div class="nav-icon">
                        <div class="hamburger"></div>
                    </div>
            </a>
            <a href="javascript:;" id="menu-logo"></a>
        </div>
        <div class="menu-wrapper" id="nav-wrapper">
            <ul class="nav-links">
                <li class="nav-link">
                    <a routerLink="/projects">Projects</a>
                </li>
                <li class="nav-link">
                    <a routerLink='/services'>Services</a>
                </li>
                <li class="nav-link">
                    <a routerLink='/agency'>Agency</a>
                </li>
                <li class="nav-link">
                    <a routerLink='/blog'>Blog</a>
                </li>
                <li class="nav-link">
                    <a routerLink='/contact'>Contact</a>
                </li>
            </ul>
            <div class="social-links">

            </div>
            <div class="copyright">
                <span class="brand">&copy; 2019 URBANE UI</span>
                <a routerLink='/privacy'>Privacy Policy</a>
            </div>

        </div>
    </div>
</nav>
